@using System.Security.Claims
@{
    ViewData["Title"] = "Home Page";
}
<body>

    <div class="text-center">
        <h1 class="display-4">Bienvenido a la mejor tienda musical</h1>
        <p>Cenfotec - Proyecto Final MVC with .Net Core</a>.</p>
    </div>

</body>

