@if (ViewBag.UserType == "Vendedor")
{
    <div class="alert alert-info"><b>Sumatoria de precios de productos: </b> @ViewBag.PreciosTotales</div>
    <div class="alert alert-info"><b>Total de productos en bodega: </b> @ViewData["TotalProductos"]</div>
}
