<div class="card">
    @if (@ViewData["UserName"] != null)
    {
        <div class="card-header">Tipo Usuario: @ViewData["UserType"] </div>
        <div class="card-group">
            <div class="card-body">Bienvenido: @ViewData["UserName"] </div>
            <div class="card-footer">
                <form method="post" asp-controller="Account" asp-action="Logout">
                    <input type="submit" value="Logout" />
                </form>
            </div>
        </div>
    }
    else
    {
        <a asp-controller="Account" asp-action="Login">Login</a>
        //<a asp-controller="Account" asp-action="Register">Register</a>
    }
</div>